h2 {
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.body {
  display: flex;
}

.select-shell {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  padding: 15px;
  background: lightgray;
  height: 100%;
}

.basic-info-shell {
  display: flex;
}

.basic-info-shell p {
  margin-right: 15px;
}

.characteristics-shell {
  display: flex;
}

.characteristics-shell .characteristics:first-child {
  margin-right: 50px;
}

.characteristics {
  display: flex;
  flex-direction: column;
}

.characteristics strong {
  margin-top: 15px;
}

.characteristics p strong {
  color: red
}

.button-shell button:first-child {
  margin-right: 15px;
}

.button-shell p {
  font-weight: bold;
  color: green;
  margin-top: 5px;
}